.project
.settings

.bem/cache
.bem/snapshots
.enb/tmp

libs
node_modules

coverage.json
/coverage

*.bundles/*/*
!*.bundles/.bem/*
!*.bundles/*/blocks
!*.bundles/*/*.bemjson.js

/dist
/test/dist/fixtures
/*desktop.docs
/*touch.docs
/*.doc-examples
/*.examples
/*.specs
/*.tmpl-specs
/*.tests
/*.sets
